<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - To-Do-List</title>
    <link rel="stylesheet" href="/style/cadastro.css">
</head>
<body><header>
    <h3>Cadastro de usuarios para a lista de tarefas!</h3><br>
    <h4>Aqui você pode finalmente se cadastrar e criar suas próprias tarefas!</h4>
</header>
    <br><br>
    <form method="POST">
<input name="nome_completo" placeholder="Nome completo" required>
  <br><br>
<input name="username" placeholder="Usuário" required>
  <br><br>
<input type="email" name="email" placeholder="Email" required>
  <br><br>
  <input type="password" name="senha" placeholder="Senha" required>
  <br><br>
<input type="password" name="confirmar_senha" placeholder="Confirmar Senha" required>
  <br><br>
<input name="telefone" placeholder="Telefone" required>
  <br><br>
  Data de nascimento <br><br><input type="date" name="data_nascimento" required>
  <br><br>
Como você conheceu a lista de tarefas? <br><br><input name="como_conheceu" textarea="Como nos conheceu?" required><br>
<button type="submit">Cadastrar</button>
</form>
<footer>
<button href="/login">Já tem uma conta? Faça login!</button>
    <br><br>
<button href="/">Página inicial</button>
</footer>
</body>
</html>