<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-List</title>
</head>
<body>
    
<a href="/login">Entrar</a><br>
<a href="/cadastro">Criar conta</a><br>


    <h1>Bem-vindo ao Gerenciador de Tarefas.</h1>
    <p>Você pode gerenciar suas tarefas de forma simples e eficiente.</p>
    <p>Para começar, faça login ou crie uma conta.</p><br>
        <a href="/logout">Sair</a>
    <p>Para acessar suas tarefas, clique no link abaixo:</p>
    <a href="/tarefas">Minhas Tarefas</a><br>
    <p>Para criar uma nova tarefa, clique no link abaixo:</p>
    <a href="/criar">Criar Tarefa</a><br>
</body>
</html>